/css.zip
/static.zip
/static/barista_4235115.png
/static/ba
/static/basket.png
/static/bean.png
/static/beer-box_5265254.png
/static/bg-coffee.png
/static/bg-coffee-2.png
/static/bg-coffee-3.png
/static/bxl_telegram.svg
/static/ChatGPT Image 26 бер. 2025 р., 19_35_13.png
/static/checkmark-badge-02-stroke-rounded.svg
/static/coffe pattern2.png
/static/coffee-filter_16741809.png
/static/coffee-machine_2098262.png
/static/coffee_1046887.png
/static/instagram.png
/static/ilustration.jpg
/static/latte-art_13888302.png
/static/list_12232288.png
/static/menu_6178984.png
/static/menu_7689053.png
/static/photo_2025-04-04_20-23-34.jpg
/static/portafilter_5812905.png
/static/product.JPG
/static/product-1.jpg
/static/product-2.jpg
/static/product-3.jpg
/static/red_circle.png
/static/shopping-bag.png
/static/stas.jpg
/static/team.jpg
/static/TG 50.png
/static/thin_line_coffee_beans_pattern.jpg
/static/X 50.png
/static/x.svg
/backups/
/.idea/